<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col m3">  </div>
        <div class="col m6 center">
          <h3>Sing up</h3>
          <h4>Join now for free ride credit</h4>
        </div>
        <div class="col m3">  </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col s2">
           <i class="small material-icons">person_outline</i>
        </div>
        <div class="input-field col s5">
          <input placeholder="firstname" id="first_name" type="text" class="validate">
        </div>
        <div class="input-field col s5 ">
          <input placeholder="last name" id="last_name" type="text" class="validate">
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col s2">
          <i class="small material-icons">email</i>
        </div>
          <div class="input-field col s10">
            <input  placeholder="email" id="email" type="email" class="validate">
          </div>
        </div>
    </div>

    <div class="container">
      <div class="center">
        <p> I agree to Lyft´ss Terms of service</p>
      </div>
    </div>

    <div class="container">
      <div class="center" style="margin:145px;">
        <a class="btn disabled">NEXT</a>
      </div>
    </div>




    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/data.js">
    </script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
